<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdp.mapper.UserDetailMapper">
    <select id="getAuthoritiesByUserId" resultType="string">
        select
            c.authorities
        from
            tb_user_role a
            join tb_role_autho b on a.role_id = b.role_id
            join tb_autho c on b.autho_id = c.autho_id
        where a.uid = #{uid}
    </select>
    <select id="getUserDetail" resultType="com.hmdp.entity.UserDetail">
        select
            b.detail_id,
            a.phone AS username,
            a.`password`,
            b.enabled,
            b.accountNonExpired,
            b.credentialsNonExpired,
            b.accountNonLocked
        from tb_user a
            join tb_user_detail b on a.id = b.detail_id
        where a.phone = '18029624303'
    </select>
    <select id="getAuthoritiesForUser" resultType="java.lang.String">
        select
            c.authorities
        from
            tb_role a
            join tb_role_autho b on a.role_id = b.role_id
            join tb_autho c on b.autho_id = c.autho_id
        where a.code = #{role}
    </select>
</mapper>